{% extends 'base.html' %}
{% block content %}
      <h1 class="mt-5">About page {{title}}</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus imperdiet odio sit amet turpis ultricies, sit amet facilisis
      ligula volutpat. Nullam laoreet diam non arcu aliquet condimentum.
      Phasellus interdum non purus non ullamcorper. Mauris nec semper libero.
      Quisque mauris eros, ultrices vel posuere eget, mollis et mi. Morbi
      ullamcorper quam id metus laoreet vestibulum. Quisque turpis tortor,
      tempor ac vestibulum vitae, facilisis ut libero. Morbi vestibulum a
      sapien sed sodales. In scelerisque accumsan mauris, nec finibus ipsum
      malesuada nec. Vivamus nulla mauris, malesuada ut velit a, dapibus
      elementum urna. Nunc non sapien a erat porta rutrum. Nunc sed consectetur
      est. Vestibulum fringilla blandit nisi, id vulputate eros dictum vel. Ut
      urna sapien, sodales ac varius quis, consequat in arcu. Ut ac est quam.
      Mauris at aliquet risus, ut hendrerit eros.</p>
{% endblock %}
