{% extends 'base.html' %}
{% block content %}
<h1 class="mt-5">L'association Handizgoud</h1>
  <p class="lead">Créée en 2006, l’association HANDIZGOUD mobilise les étudiants autour des problématiques liées au handicap lors d'événements de sensibilisation : dîner dans le noir, semaine Handicap'INSA (semaine de sensibilisation sur le campus au mois de mars), initiation à la langue des signes… Ces événements permettent l'obtention de la mention Handicap'INSA, un diplôme complémentaire au diplôme insalien afin de valoriser les élèves sensibilisés. Etre membre de HANDIZGOUD est une expérience enrichissante, autant humainement que professionnellement. Tous nos membres suivent une formation afin d'aborder le thème du handicap en entreprise. Nous avons aussi l'occasion de visiter les entreprises partenaires de la fondation INSA pour parler de leur mission handicap.</p>
  
  <h2 class="mt-5">La mention Handicap'INSA</h2>
  
  
  <h2 class="mt-5">Le bureau</h2>
  </article>
{% endblock %}

<!-- vim: set filetype=html spell spelllang=en: -->
