{% extends 'base.html' %}
{% block content %}

      {% if infos %}
        <h2 class="mt-5">{{infos['nom']}}</h2>

        <ul>
            <li> Nom: {{infos['nom']}}</li>
            <li> Lien: {{infos['lien']}}</li>
            <li> Date : {{infos['date']}}</li>
        </ul>
      {% endif %}
      
      
      {% if not infos and not article %}
        <h1  class="mt-5">Nos articles </h1>
      {% endif %}
      <ul>
      {% for article in articles %}
          <li>  <a href="http://127.0.0.1:8000/articles/{{article['nom']}}/">{{article['nom']}}</a></li>
      {% endfor %}
      </ul>
      
      {% if article %}
        <h1 class="mt-5"> {{article[1]}} </h1>
        <p class="lead" align="justify"> Cet article a été créé le {{article[3].day}}/{{article[3].month}}/{{article[3].year}} à  {{article[3].hour}}h{{article[3].minute}} </p>
        </br>
        {{article[4]}}
      {% endif %}

{% endblock %}
