<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico" />
    <!--<link rel="icon" href="https://www.insa-lyon.fr/sites/www.insa-lyon.fr/files/insa_favicon.ico"> -->
    <title>{{ page_title|default('Handizgoud') }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='sticky-footer-navbar.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet">
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Handizgoud</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('about_us') }}">Qui sommes nous? <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('articles') }}">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('creer_article') }}">Créer un article</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0" method="get" action="/search/">
            <input class="form-control mr-sm-2" placeholder="Recherche" aria-label="Search" type="text" name="pattern">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
          </form>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
    {% block content %}{% endblock content %}
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; Marie Codet, Alice Genestier, Cloé Mendoza - Mai 2018</span>
      </div>
    </footer>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='jquery-3.js') }}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='popper.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='custom.js') }}"></script>
  </body>
</html>

<!-- vim: set filetype=html spell spelllang=en: -->
