{% extends 'base.html' %}
{% block content %}
      <h1 class="mt-5">
      <em>curl</em>: “command line tool and library for transferring data with URLs”
      </h1>
      <p class="lead">HTTP debugging with curl</p>

      <p><em>curl</em> is a powerfull http (but not only) console client, it
      helps to explore and debug http programing interfaces.</p>

      <p>Please RTFM:</p>
      <ul>
          <li><a href="https://curl.haxx.se/docs/manual.html">curl.haxx.se/docs/manual.html</a> !</li>
          <li><a href="https://curl.haxx.se/docs/httpscripting.html">curl.haxx.se/docs/httpscripting.html</a></li>
      </ul>

      <p>Here are some common commands:</p>

      <ul>
          <li>Request an URL and show response headers:
              <pre>curl --head http://127.0.0.1:8000/
curl -i -X OPTIONS http://127.0.0.1:8000/</pre>
          </li>
          <li>Get some data:
          <pre>curl -is "https://fr.wikipedia.org/w/index.php?search=Alan+Turing" | grep location</pre>
          </li>
          <li>Post some data (json payload):
          <pre>curl -d '{"key1":"value1", "key2":"value2"}' -H "Content-Type: application/json" -X POST http://localhost:8800/data
curl -d "@data.json" -X POST http://localhost:8800/data</pre>
          </li>
      </ul>

      <h1 class="mt-5">HTTP Statuses</h1>
      <p class="lead">Refer online documentation if needed <a href="https://httpstatuses.com/">https://httpstatuses.com/</a></p>
      <p>Most commons:</p>
      <ul>
        <li>202 Accepted</li>
        <li>301 Moved Permanently</li>
        <li>302 Found</li>
        <li>400 Bad Request</li>
        <li>401 Unauthorized</li>
        <li>403 Forbidden</li>
        <li>404 Not Found</li>
        <li>500 Internal Server Error</li>
        <li>501 Not Implemented</li>
      </ul>


{% endblock %}
