{% extends 'base.html' %}
{% block content %}

      {% if infos %}
        <h2 class="mt-5">{{infos['name']}}</h2>

        <ul>
            <li> Nom: {{infos['name']}}</li>
            <li> Sexe: {{infos['gender']}}</li>
            <li> Date de naissance: {{infos['birth']}}</li>
            <li> Wikipedia: {{infos['wikipageid']}}</li>
        </ul>
        <h3> Do you want to see more information? </h3>
      {% endif %}
      
      
      {% if not infos %}
        <h1  class="mt-5">Users </h1>
      {% endif %}
      <ul>
      {% for user in users %}
          <li>  <a href="http://127.0.0.1:8000/users/{{user['name']}}/">{{user['name']}}</a></li>
      {% endfor %}
      </ul>
      
      
      <h3> Do you want to add new information? </h3>
        <form action="" method="post" class="form-example">
            <div class="form-example">
                <label for="name">Enter your name: </label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="form-example">
                <label for="gender">Enter your gender (m or f): </label>
                <input type="text" name="gender" id="gender" required>
            </div>
            <div class="form-example">
                <label for="birth">Enter your birth date : </label>
                <input type="text" name="birth" id="birth" required>
            </div>
            <div class="form-example">
                <label for="wikipageid">Wikipedia id: </label>
                <input type="text" name="wikipageid" id="wikipageid">
            </div>
            <div class="form-example">
                <input type="submit" value="Enter">
            </div>
        </form>
{% endblock %}
